@using caykimnho_studio.Models
@{
    caykimnhoEntities models = new caykimnhoEntities();
    var colors = models.Colors.ToList();
    var sizes = models.Size.ToList();
    var categories = Session["lst-category"] as IEnumerable<Categories>;
    int totalCart = Convert.ToInt32(Session["cart-total"].ToString());
    var cart = new List<ShoppingCart>();
    if (Session["cart-local"] != null)
    {
        cart = Session["cart-local"] as List<ShoppingCart>;
    }
    decimal totalPrices = 0;
}

<!doctype html>
<html class="no-js" lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cây Kim Nhỏ</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="canonical" href="Replace_with_your_PAGE_URL" />
    <style>
        /* width */
        ::-webkit-scrollbar {
            background-color: white;
            width: 8px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: grey;
            border-radius: 10px;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: gray;
            }
    </style>
    <!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
    <meta property="og:locale" content="vi" />
    <meta property="og:type" content="website" />
    <meta property="og:title"
          content="Cây Kim Nhỏ - Quần áo nữ handmade siêu cá tính, dễ thương, xinh xắn, phong cách thời thượng cho mọi lứa tuổi." />
    <meta property="og:url" content="https://www.caykimnho.com" />
    <meta property="og:site_name" content="Cây Kim Nhỏ" />
    <!-- For the og:image content, replace the # with a link of an image -->
    <meta property="og:image" content="#" />
    <meta property="og:description"
          content="Cây Kim Nhỏ - Quần áo nữ handmade siêu cá tính, dễ thương, xinh xắn, phong cách thời thượng cho mọi lứa tuổi." />
    <script src="~/Content/assets/js/vendor/jquery-3.4.1.min.js"></script>
    <link href="~/Content/Loading/loading.css" rel="stylesheet" />
    <!-- Add site Favicon -->
    <link rel="icon" href="https://hasthemes.com/wp-content/uploads/2019/04/cropped-favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://hasthemes.com/wp-content/uploads/2019/04/cropped-favicon-192x192.png"
          sizes="192x192" />
    <link rel="apple-touch-icon" href="https://hasthemes.com/wp-content/uploads/2019/04/cropped-favicon-180x180.png" />
    <meta name="msapplication-TileImage"
          content="https://hasthemes.com/wp-content/uploads/2019/04/cropped-favicon-270x270.png" />


    <!-- CSS
    ========================= -->
    <link rel="stylesheet" href="~/Content/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/slick.css">
    <link rel="stylesheet" href="~/Content/assets/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/Content/assets/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Content/assets/css/font.awesome.css">
    <link rel="stylesheet" href="~/Content/assets/css/animate.css">
    <link rel="stylesheet" href="~/Content/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/magnific-popup.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">

    <!--modernizr min js here-->
    <script src="~/Content/assets/js/vendor/modernizr-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css">

    <!-- Structured Data  -->
</head>

<body>
    <div class="loaders" id="Loaders"></div>
    <script>
        $('#Loaders').fadeIn('slow');
    </script>

    <!--offcanvas menu area start-->
    <div class="body_overlay">

    </div>

    <!--mini cart-->
    <div id="minicart" class="mini_cart">
        <div class="cart_gallery">
            <div class="cart_close">
                <div class="cart_text">
                    <h3 name="@totalCart" id="giohangsoluong3">GIỎ HÀNG (@totalCart)</h3>
                </div>
                <div class="mini_cart_close">
                    <a href="javascript:void(0)"><i class="icon-close icons"></i></a>
                </div>
            </div>
            @foreach (var item in cart.OrderByDescending(o => o.ID).ToList())
            {
                totalPrices += item.Total_Price;
                int index = 0;
                int indexItem = item.ShoppingCartDetail.Count;
                <div class="row cart_item">
                    <div style="padding: 5px; border-bottom: 1px solid #ededed; " class="col-12">
                        <div class="row">
                            <div class="col-3">
                                <div style="margin-bottom: 10px" class="cart_img">
                                    <a onclick="$('#Loaders').fadeIn('slow');" href="@Url.Action("productdetail", "home", new {id = item.First_Product_ID})"><img src="@item.First_Product_Images" alt=""></a>
                                </div>
                            </div>
                            <div class="col-8">
                                <div style="margin-bottom: 10px" class="cart_info">
                                    <a onclick="$('#Loaders').fadeIn('slow');" href="@Url.Action("productdetail", "home", new {id = item.First_Product_ID})">@item.First_Product_Name</a>
                                    <p><span>@item.Total_Product Sản Phẩm&ensp;|&ensp;@item.Total_Price.ToString("0,0")đ </span></p>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: center; margin-left: -10px" class="col-1 cart_remove">
                                <a href="#"><i class="icon-close icons"></i></a>
                            </div>
                        </div>
                    </div>
                    @foreach (var items in item.ShoppingCartDetail.ToList())
                    {
                        int idcolor = items.ID_Color;
                        int idsize = items.ID_Size;
                        index++;
                        <div class="col-12">
                            @if (indexItem == index)
                            {
                                <div style="padding: 5px;" class="row">
                                    <div class="col-2">
                                        <div style="margin-top: 2.5px" class="cart_img_child">
                                            <a onclick="$('#Loaders').fadeIn('slow');" href="@Url.Action("productdetail", "home", new {id = item.First_Product_ID})"><img src="@items.Product_Images" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="cart_info">
                                            <p style="margin-bottom: -5px">@(colors.Find(f => f.ID == idcolor).Name), @(sizes.Find(f => f.ID == idsize).Name)</p>
                                            <p><span>@items.Product_Quantity&ensp;×&ensp;@((items.Product_Price - (items.Product_Price * items.Product_Sale)).ToString("0,0"))đ&ensp;|&ensp;Tổng: @((items.Product_Quantity * (items.Product_Price - (items.Product_Price * items.Product_Sale))).ToString("0,0"))đ</span></p>
                                        </div>
                                    </div>
                                    <div style="display: flex; justify-content: center; align-items: center;" class="col-1 cart_remove">
                                        <a href="#"><i class="icon-close icons"></i></a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div style="padding: 5px; border-bottom: 1px solid #ededed;" class="row">
                                    <div class="col-2">
                                        <div style="margin-top: 2.5px" class="cart_img_child">
                                            <a onclick="$('#Loaders').fadeIn('slow');" href="@Url.Action("productdetail", "home", new {id = item.First_Product_ID})"><img src="@items.Product_Images" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="cart_info">
                                            <p style="margin-bottom: -5px">@(colors.Find(f => f.ID == idcolor).Name), @(sizes.Find(f => f.ID == idsize).Name)</p>
                                            <p><span>@items.Product_Quantity&ensp;×&ensp;@((items.Product_Price - (items.Product_Price * items.Product_Sale)).ToString("0,0"))đ&ensp;|&ensp;Tổng: @((items.Product_Quantity * (items.Product_Price - (items.Product_Price * items.Product_Sale))).ToString("0,0"))đ</span></p>
                                        </div>
                                    </div>
                                    <div style="display: flex; justify-content: center; align-items: center;" class="col-1 cart_remove">
                                        <a href="#"><i class="icon-close icons"></i></a>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        </div>
        <div class="mini_cart_table">
            <div class="cart_table_border">

                @if (totalCart <= 0)
                {
                    <div style="text-align: center; margin: 50px 0 50px 0">Chưa có sản phẩm nào :(</div>
                }
                else if (totalCart > 3)
                {
                    <div class="cart_total">
                        <span>Tạm tính:</span>
                        <span class="price">@totalPrices.ToString("0,0")đ</span>
                    </div>
                    <div class="cart_total">
                        <span>Phí vận chuyển:</span>
                        <span class="price">Miễn phí</span>
                    </div>
                    <br />
                    <div class="cart_total mt-10">
                        <span>Tổng:</span>
                        <span class="price">@totalPrices.ToString("0,0")đ</span>
                    </div>
                }
                else
                {
                    <div class="cart_total">
                        <span>Tạm tính:</span>
                        <span class="price">@totalPrices.ToString("0,0")đ</span>
                    </div>
                    <div class="cart_total">
                        <span>Phí vận chuyển:</span>
                        <span class="price">30.000đ</span>
                    </div>
                    <br />
                    <div class="cart_total">
                        <span>Tổng:</span>
                        <span class="price">@((totalPrices + 30000).ToString("0,0"))đ</span>
                    </div>
                }
            </div>
        </div>
        <div style="margin-bottom: 50px" class="mini_cart_footer">
            <div class="cart_button">
                <a href="cart.html"><i class="fa fa-shopping-cart"></i>&ensp;Xem giỏ hàng</a>
            </div>
            <div class="cart_button">
                <a href="checkout.html"><i class="fa fa-sign-in"></i>&ensp;Đặt hàng</a>
            </div>
        </div>
    </div>
    <!--mini cart end-->
    <!-- menu bar -->
    <div class="offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                        </div>
                        <div class="header_contact_info">
                            <ul class="d-flex">
                                <li class="text-white">
                                    <i class="icons icon-phone"></i> <a href="tel:0971568656">
                                        0971 568 656
                                    </a>
                                </li>
                                <li class="text-white">
                                    <i class="icon-envelope-letter icons"></i> <a href="mailto:nhiile2007@gmail.com">nhiile2007@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="header_social d-flex">
                            <ul class="d-flex">
                                <li>
                                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100071116872759">
                                        <i class="icon-social-facebook icons"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.instagram.com/caykimnho/">
                                        <i class="icon-social-instagram icons"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://shopee.vn/caykimnho">
                                        <i class="icon-handbag icons"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <br />
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children active">
                                    <a onclick="$('#Loaders').fadeIn('slow');" href="@Url.Action("index", "home")">Trang chủ</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a onclick="$('#Loaders').fadeIn('slow');" href="@Url.Action("product", "home")">Sản phẩm</a>
                                    <ul class="sub-menu">
                                        @foreach (var item in categories)
                                        {
                                            <li><a onclick="$('#Loaders').fadeIn('slow');" href="#">@item.Name</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a onclick="$('#Loaders').fadeIn('slow');" href="@Url.Action("about", "home")">Giới thiệu</a>
                                </li>
                                <li><a onclick="$('#Loaders').fadeIn('slow');" href="#">Chương trình Khuyến Mãi</a></li>
                                <li><a onclick="$('#Loaders').fadeIn('slow');" href="#">Chính sách đổi trả</a></li>
                                <li><a onclick="$('#Loaders').fadeIn('slow');" href="#">Tra cứu đơn hàng</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Munu home mobile -->
    <div style="width: 98% ; padding-top: 10px;background-color: white; border-top-right-radius: 15px; border-top-left-radius: 15px;"
         class="mobile-bottom-navigation">

        <button style="margin-top: 5px; margin-bottom: 5px; margin-left: 5px ;border: 1px; border-radius: 100px; height: 20%; width: 24%;"
                class="btn btn-primary canvas_open">
            <i style="font-size: 16px; color: white;" class="icon-menu icons"></i>
        </button>
        <a role="button" onclick="$('#Loaders').fadeIn('slow');" href="@Url.Action("index", "home")"
           style="margin-top: 5px; margin-bottom: 5px ;border: 1px; border-radius: 100px; height: 20%; width: 24%;"
           class="btn btn-primary">
            <i style="font-size: 16px; color: white;" class="icon-home icons"></i>
        </a>
        <button style="margin-top: 5px; margin-bottom: 5px ;margin-right: 5px ;border: 1px; border-radius: 100px; height: 20%; width: 24%;"
                class="btn btn-primary shopping_carts_click">
            <i style="font-size: 16px; color: white;"
               class="icon-basket-loaded icons">
            </i>
            <span id="giohangsoluong" class="item_count">@totalCart</span>
        </button>

    </div>

    <!--header area start-->
    <header class="header_section border-bottom">
        <div class="header_top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="header_top_inner d-flex justify-content-between align-items-center">
                            <div class="header_contact_info">
                                <ul class="d-flex">
                                    <li class="text-white">
                                        <i class="icons icon-phone"></i> <a href="tel:0971568656">0971 568 656</a>
                                    </li>
                                    <li class="text-white">
                                        <i class="icon-envelope-letter icons"></i> <a href="mailto:nhiile2007@gmail.com">nhiile2007@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="free_shipping_text">
                                <p class="text-white">MIỄN SHIP VỚI ĐƠN HÀNG TỪ 3 SẢN PHẨM</p>
                            </div>
                            <div class="header_top_sidebar d-flex align-items-center">
                                <div class="header_social d-flex">
                                    <ul class="d-flex">
                                        <li>
                                            <a target="_blank"
                                               href="https://www.facebook.com/profile.php?id=100071116872759">
                                                <i class="icon-social-facebook icons"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://www.instagram.com/caykimnho/">
                                                <i class="icon-social-instagram icons"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://shopee.vn/caykimnho">
                                                <i class="icon-handbag icons"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main_header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="header_container d-flex justify-content-between align-items-center">
                            <div class="canvas_open">
                                <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                            </div>
                            <div class="header_logo">
                                <a class="sticky_none" onclick="$('#Loaders').fadeIn('slow');" href="@Url.Action("index", "home")">
                                    <img width="90px"
                                         style="margin-top: -20px; margin-bottom: -20px;" src="~/Content/assets/img/logo/logos.png"
                                         alt="">
                                </a>
                            </div>
                            <!--main menu start-->
                            <div class="main_menu d-none d-lg-block">
                                <nav>
                                    <ul class="d-flex">
                                        <li><a class="active" onclick="$('#Loaders').fadeIn('slow');" href="@Url.Action("index", "home")">Trang chủ</a> </li>
                                        <li>
                                            <a onclick="$('#Loaders').fadeIn('slow');" href="@Url.Action("product", "home")">Sản phẩm</a>
                                            <ul class="sub_menu">
                                                @foreach (var item in categories)
                                                {
                                                    <li><a onclick="$('#Loaders').fadeIn('slow');" href="#">@item.Name</a></li>
                                                }
                                            </ul>
                                        </li>
                                        <li><a onclick="$('#Loaders').fadeIn('slow');" href="@Url.Action("about", "home")">Giới thiệu</a></li>

                                        <li><a onclick="$('#Loaders').fadeIn('slow');" href="#">Khuyến Mãi</a></li>
                                        <li><a onclick="$('#Loaders').fadeIn('slow');" href="#">Đổi trả</a></li>
                                        <li><a onclick="$('#Loaders').fadeIn('slow');" href="#">đơn hàng</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header_account">
                                <ul class="d-flex">
                                    <li style="margin-right: 20px;" class="header_search">
                                        <a href="#">
                                            <i class="icon-magnifier icons"></i>
                                        </a>
                                    </li>
                                    <li style="margin-right: 20px;" class="account_link">
                                        <a href="#">
                                            <i class="icon-user icons"></i>
                                        </a>
                                        <ul class="dropdown_account_link">
                                            <li><a href="#">My Account</a></li>
                                            <li><a href="#">Login</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li style="margin-right: 20px;" class="shopping_cart">
                                        <a class="shopping_carts_click">
                                            <i class="icon-basket-loaded icons"></i>
                                        </a>
                                        <span id="giohangsoluong2" class="item_count">@totalCart</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page search box -->
        <div class="page_search_box">
            <div class="search_close">
                <i class="ion-close-round"></i>
            </div>
            <form style="border: 1px; " action="#">
                <input class="border-0" placeholder="Nhập tên sản phẩm cần tìm..." type="text">
                <button type="submit"><span class="icon-magnifier icons"></span></button>
            </form>
        </div>

    </header>
    <!--header area end-->

    @RenderBody()
    @RenderSection("scripts", required: false)
    <input hidden value="@Url.Content("~")" id="requestPath" />
    <section style="border-bottom: 1px solid #d8d8d8; margin: 0px 20px 0px 20px;">
    </section>
    <!--newsletter section end-->
    <!--footer area start-->
    <footer class="footer_widgets">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="footer_widget_list">
                        <div class="footer_logo">
                            <a onclick="$('#Loaders').fadeIn('slow');" href="@Url.Action("Index", "Home")"><img src="~/Content/assets/img/logo/logos.png" width="120px" alt=""></a>
                        </div>
                        <div class="footer_contact">
                            <div class="footer_contact_list">
                                <P>
                                    <span>Địa Chỉ Shop:</span>
                                    79/3 Nguyễn Thị Xiếu,<br />P. Tân Thuận Tây, Q7, HCM
                                </P>
                            </div>
                            <div class="footer_contact_list">
                                <p>
                                    <span>Thông Tin Liên Hệ:</span>
                                    <a href="tel:0971568656">SĐT: 0971 568 656</a>
                                    <br />
                                    <a href="mailto:nhiile2007@gmail.com">Email: nhiile2007@gmail.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="footer_widget_list text-right">
                        <div class="footer_menu">
                            <ul class="d-flex justify-content-end">
                                <li><a onclick="$('#Loaders').fadeIn('slow');" href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                                <li><a onclick="$('#Loaders').fadeIn('slow');" href="@Url.Action("Product", "Home")">Sản phẩm</a></li>
                                <li><a onclick="$('#Loaders').fadeIn('slow');" href="@Url.Action("About", "Home")">Giới thiệu</a></li>
                                <li><a onclick="$('#Loaders').fadeIn('slow');" href="#">CTKM</a></li>
                            </ul>
                        </div>
                        <div class="footer_social">
                            <ul class="d-flex justify-content-end">
                                <li>
                                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100071116872759">
                                        <i class="icon-social-facebook icons"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.instagram.com/caykimnho/">
                                        <i class="icon-social-instagram icons"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://shopee.vn/caykimnho">
                                        <i class="icon-handbag icons"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="copyright_right">
                            <p>
                                Copyright © @DateTime.Now.Year <a onclick="$('#Loaders').fadeIn('slow');" href="@Url.Action("index", "home")" target="_blank">
                                    <span>
                                        Cây Kim Nhỏ
                                    </span>
                                </a>. Powered by
                                <a href="https://www.aendy.net" target="_blank"><span>Aendy</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer area end-->
    <!-- JS
    ============================================ -->
    <script src="~/Content/assets/js/vendor/popper.js"></script>
    <script src="~/Content/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/slick.min.js"></script>
    <script src="~/Content/assets/js/wow.min.js"></script>
    <script src="~/Content/assets/js/jquery.scrollup.min.js"></script>
    <script src="~/Content/assets/js/images-loaded.min.js"></script>
    <script src="~/Content/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/js/jquery.nice-select.js"></script>
    <script src="~/Content/assets/js/tippy-bundle.umd.js"></script>
    <script src="~/Content/assets/js/jquery-ui.min.js"></script>
    <script src="~/Content/assets/js/jquery.instagramFeed.min.js"></script>
    <script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/assets/js/mailchimp-ajax.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/placeholder-loading/dist/css/placeholder-loading.min.css"></script>
    <!-- Main JS -->
    <script src="~/Content/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(window).on('load', function () {
            setTimeout(function () {
                $('#Loaders').fadeOut('slow');
            }, 100);
        });
    </script>
</body>

</html>
