<!doctype html>
<html class="no-js" lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cây Kim Nhỏ</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="canonical" href="Replace_with_your_PAGE_URL" />
    <style>
        /* width */
        ::-webkit-scrollbar {
            background-color: white;
            width: 8px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: grey;
            border-radius: 10px;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: gray;
            }
    </style>
    <!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
    <meta property="og:locale" content="vi" />
    <meta property="og:type" content="website" />
    <meta property="og:title"
          content="Cây Kim Nhỏ - Quần áo nữ handmade siêu cá tính, dễ thương, xinh xắn, phong cách thời thượng cho mọi lứa tuổi." />
    <meta property="og:url" content="https://www.caykimnho.com" />
    <meta property="og:site_name" content="Cây Kim Nhỏ" />
    <!-- For the og:image content, replace the # with a link of an image -->
    <meta property="og:image" content="#" />
    <meta property="og:description"
          content="Cây Kim Nhỏ - Quần áo nữ handmade siêu cá tính, dễ thương, xinh xắn, phong cách thời thượng cho mọi lứa tuổi." />

    <!-- Add site Favicon -->
    <link rel="icon" href="https://hasthemes.com/wp-content/uploads/2019/04/cropped-favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://hasthemes.com/wp-content/uploads/2019/04/cropped-favicon-192x192.png"
          sizes="192x192" />
    <link rel="apple-touch-icon" href="https://hasthemes.com/wp-content/uploads/2019/04/cropped-favicon-180x180.png" />
    <meta name="msapplication-TileImage"
          content="https://hasthemes.com/wp-content/uploads/2019/04/cropped-favicon-270x270.png" />

    <!-- CSS
    ========================= -->
    <link rel="stylesheet" href="~/Content/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/slick.css">
    <link rel="stylesheet" href="~/Content/assets/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/Content/assets/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Content/assets/css/font.awesome.css">
    <link rel="stylesheet" href="~/Content/assets/css/animate.css">
    <link rel="stylesheet" href="~/Content/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/magnific-popup.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">

    <!--modernizr min js here-->
    <script src="~/Content/assets/js/vendor/modernizr-3.7.1.min.js"></script>


    <!-- Structured Data  -->

</head>

<body>

    <!--offcanvas menu area start-->
    <div class="body_overlay">

    </div>

    <div>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </div>


    <!--newsletter section end-->
    <!--footer area start-->
    <footer class="footer_widgets">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="footer_widget_list">
                        <div class="footer_logo">
                            <a href="@Url.Action("Index", "Home")"><img src="~/Content/assets/img/logo/logos.png" width="120px" alt=""></a>
                        </div>
                        <div class="footer_contact">
                            <div class="footer_contact_list">
                                <P>
                                    <span>Địa Chỉ Shop:</span>
                                    79/3 Nguyễn Thị Xiếu,<br />P. Tân Thuận Tây, Q7, HCM
                                </P>
                            </div>
                            <div class="footer_contact_list">
                                <p>
                                    <span>Thông Tin Liên Hệ:</span>
                                    <a href="tel:0971568656">SĐT: 0971 568 656</a>
                                    <br />
                                    <a href="mailto:nhiile2007@gmail.com">Email: nhiile2007@gmail.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="footer_widget_list text-right">
                        <div class="footer_menu">
                            <ul class="d-flex justify-content-end">
                                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                                <li><a href="@Url.Action("Product", "Home")">Sản phẩm</a></li>
                                <li><a href="@Url.Action("About", "Home")">Giới thiệu</a></li>
                                <li><a href="#">CTKM</a></li>
                            </ul>
                        </div>
                        <div class="footer_social">
                            <ul class="d-flex justify-content-end">
                                <li>
                                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100071116872759">
                                        <i class="icon-social-facebook icons"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.instagram.com/caykimnho/">
                                        <i class="icon-social-instagram icons"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://shopee.vn/caykimnho">
                                        <i class="icon-handbag icons"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="copyright_right">
                            <p>
                                Copyright © 2023 <a href="https://www.caykimnho.com" target="_blank">
                                    <span>
                                        Cây Kim Nhỏ
                                    </span>
                                </a>. Powered by
                                <a href="https://www.aendy.net" target="_blank"><span>Aendy</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer area end-->
    <!-- modal area start-->
    <div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="ion-android-close"></i></span>
                </button>
                <div class="modal_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="modal_zoom_gallery">
                                    <div class="product_zoom_thumb">
                                        <img src="~/Content/assets/img/product/big-product/product1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="modal_right">
                                    <div class="modal_title mb-10">
                                        <h2>Donec Ac Tempus</h2>
                                    </div>
                                    <div class="modal_price mb-10">
                                        <span class="new_price">$64.99</span>
                                        <span class="old_price">$78.99</span>
                                    </div>
                                    <div class="modal_description mb-15">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste
                                            laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam
                                            in quos qui,
                                        </p>
                                    </div>
                                    <div class="variants_selects">
                                        <div class="variants_size">
                                            <h2>size</h2>
                                            <select class="select_option">
                                                <option selected value="1">s</option>
                                                <option value="1">m</option>
                                                <option value="1">l</option>
                                                <option value="1">xl</option>
                                                <option value="1">xxl</option>
                                            </select>
                                        </div>
                                        <div class="variants_color">
                                            <h2>color</h2>
                                            <select class="select_option">
                                                <option selected value="1">purple</option>
                                                <option value="1">violet</option>
                                                <option value="1">black</option>
                                                <option value="1">pink</option>
                                                <option value="1">orange</option>
                                            </select>
                                        </div>
                                        <div class="modal_add_to_cart">
                                            <form action="#">
                                                <input min="1" max="100" step="2" value="1" type="number">
                                                <button type="submit">add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal_social">
                                        <h2>Share this product</h2>
                                        <ul>
                                            <li>
                                                <a target="_blank"
                                                   href="https://www.facebook.com/profile.php?id=100071116872759">
                                                    <i class="icon-social-facebook icons"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="https://www.instagram.com/caykimnho/">
                                                    <i class="icon-social-instagram icons"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="https://shopee.vn/caykimnho">
                                                    <i class="icon-handbag icons"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal area end-->
    <!-- JS
    ============================================ -->

    <script src="~/Content/assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="~/Content/assets/js/vendor/popper.js"></script>
    <script src="~/Content/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/slick.min.js"></script>
    <script src="~/Content/assets/js/wow.min.js"></script>
    <script src="~/Content/assets/js/jquery.scrollup.min.js"></script>
    <script src="~/Content/assets/js/images-loaded.min.js"></script>
    <script src="~/Content/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/js/jquery.nice-select.js"></script>
    <script src="~/Content/assets/js/tippy-bundle.umd.js"></script>
    <script src="~/Content/assets/js/jquery-ui.min.js"></script>
    <script src="~/Content/assets/js/jquery.instagramFeed.min.js"></script>
    <script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/assets/js/mailchimp-ajax.js"></script>

    <!-- Main JS -->
    <script src="~/Content/assets/js/main.js"></script>


</body>

</html>
