@using caykimnho_studio.Models
@{
    aendysho_caykimnhoEntities models = new aendysho_caykimnhoEntities();
    var colors = models.Colors.ToList();
    var sizes = models.Size.ToList();
    int totalCart = Convert.ToInt32(Session["cart-total"].ToString());
    var cart = new List<ShoppingCart>();
    if (Session["cart-local"] != null)
    {
        cart = Session["cart-local"] as List<ShoppingCart>;
    }
    decimal totalPrices = 0;
}

<!--mini cart-->
<div id="minicart" class="mini_cart">
    <div class="cart_gallery">
        <div class="cart_close">
            <div class="cart_text">
                <h3 name="@totalCart" id="giohangsoluong3">GIỎ HÀNG (@totalCart)</h3>
            </div>
            <div class="mini_cart_close">
                <a><i class="icon-close icons"></i></a>
            </div>
        </div>
        @foreach (var item in cart.OrderByDescending(o => o.ID).ToList())
        {
            totalPrices += item.Total_Price;
            int index = 0;
            int indexItem = item.ShoppingCartDetail.Count;
            <div class="row cart_item">
                <div style="padding: 5px; border-bottom: 1px solid #ededed; " class="col-12">
                    <div class="row">
                        <div class="col-3">
                            <div style="margin-bottom: 10px" class="cart_img">
                                <a href="@Url.Action("productdetail", "home", new {id = item.First_Product_ID})"><img src="@item.First_Product_Images" alt=""></a>
                            </div>
                        </div>
                        <div class="col-8">
                            <div style="margin-bottom: 10px" class="cart_info">
                                <a href="@Url.Action("productdetail", "home", new {id = item.First_Product_ID})">@item.First_Product_Name</a>
                                <p><span>@item.Total_Product Sản Phẩm&ensp;|&ensp;@item.Total_Price.ToString("0,0")đ </span></p>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: center; margin-left: -10px" class="col-1 cart_remove">
                            <a id="xoasanphamchinh-@item.ID" name="@item.ID"><i class="icon-close icons"></i></a>
                        </div>
                    </div>
                </div>
                @foreach (var items in item.ShoppingCartDetail.ToList())
                {
                    int idcolor = items.ID_Color;
                    int idsize = items.ID_Size;
                    index++;
                    <div class="col-12">
                        @if (indexItem == index)
                        {
                            <div style="padding: 5px;" class="row">
                                <div class="col-2">
                                    <div style="margin-top: 2.5px" class="cart_img_child">
                                        <a onclick="viewload()" href="@Url.Action("productdetail", "home", new {id = item.First_Product_ID})"><img src="@items.Product_Images" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="cart_info">
                                        <p style="margin-bottom: -5px">@(colors.Find(f => f.ID == idcolor).Name), @(sizes.Find(f => f.ID == idsize).Name)</p>
                                        <p><span>@items.Product_Quantity&ensp;×&ensp;@((items.Product_Price - (items.Product_Price * items.Product_Sale)).ToString("0,0"))đ&ensp;|&ensp;Tổng: @((items.Product_Quantity * (items.Product_Price - (items.Product_Price * items.Product_Sale))).ToString("0,0"))đ</span></p>
                                    </div>
                                </div>
                                <div style="display: flex; justify-content: center; align-items: center;" class="col-1 cart_remove">
                                    <a id="xoasanphamcon-@item.ID" name="@item.ID-@items.ID_Size-@items.ID_Color"><i class="icon-close icons"></i></a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div style="padding: 5px; border-bottom: 1px solid #ededed;" class="row">
                                <div class="col-2">
                                    <div style="margin-top: 2.5px" class="cart_img_child">
                                        <a onclick="viewload()" href="@Url.Action("productdetail", "home", new {id = item.First_Product_ID})"><img src="@items.Product_Images" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="cart_info">
                                        <p style="margin-bottom: -5px">@(colors.Find(f => f.ID == idcolor).Name), @(sizes.Find(f => f.ID == idsize).Name)</p>
                                        <p><span>@items.Product_Quantity&ensp;×&ensp;@((items.Product_Price - (items.Product_Price * items.Product_Sale)).ToString("0,0"))đ&ensp;|&ensp;Tổng: @((items.Product_Quantity * (items.Product_Price - (items.Product_Price * items.Product_Sale))).ToString("0,0"))đ</span></p>
                                    </div>
                                </div>
                                <div style="display: flex; justify-content: center; align-items: center;" class="col-1 cart_remove">
                                    <a id="xoasanphamcon-@item.ID" name="@item.ID-@items.ID_Size-@items.ID_Color"><i class="icon-close icons"></i></a>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
    <div class="mini_cart_table">
        <div class="cart_table_border">

            @if (totalCart <= 0)
            {
                <div style="text-align: center; margin: 50px 0 50px 0">Chưa có sản phẩm nào :(</div>
            }
            else if (totalCart > 3)
            {
                <div class="cart_total">
                    <span>Tạm tính:</span>
                    <span class="price">@totalPrices.ToString("0,0")đ</span>
                </div>
                <div class="cart_total">
                    <span>Phí vận chuyển:</span>
                    <span class="price">Miễn phí</span>
                </div>
                <br />
                <div class="cart_total mt-10">
                    <span>Tổng:</span>
                    <span class="price">@totalPrices.ToString("0,0")đ</span>
                </div>
            }
            else
            {
                <div class="cart_total">
                    <span>Tạm tính:</span>
                    <span class="price">@totalPrices.ToString("0,0")đ</span>
                </div>
                <div class="cart_total">
                    <span>Phí vận chuyển:</span>
                    <span class="price">30.000đ</span>
                </div>
                <br />
                <div class="cart_total">
                    <span>Tổng:</span>
                    <span class="price">@((totalPrices + 30000).ToString("0,0"))đ</span>
                </div>
            }
        </div>
    </div>
    <div style="margin-bottom: 50px" class="mini_cart_footer">
        <div class="cart_button">
            <a href="cart.html"><i class="fa fa-shopping-cart"></i>&ensp;Xem giỏ hàng</a>
        </div>
        <div class="cart_button">
            <a href="checkout.html"><i class="fa fa-sign-in"></i>&ensp;Đặt hàng</a>
        </div>
    </div>
</div>
<!--mini cart end-->
<script src="~/Validation/deleteCart.js"></script>