@model IEnumerable<caykimnho_studio.Models.Products>
@using caykimnho_studio.Models
@{
    var categories = Session["lst-category"] as IEnumerable<Categories>;
    ViewBag.Title = "Trang chủ - Cây Kim Nhỏ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int totalCart = Convert.ToInt32(Session["cart-total"].ToString());
}

<!--slider area start-->
<section class="slider_section mb-63 ph-col-12">
    <div class="slider_area slick_slider_activation" data-slick='{
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "arrows": true,
            "dots": true,
            "autoplay": true,
            "speed": 300,
            "infinite": true
        }'>
        <div class="single_slider d-flex align-items-center" data-bgimg="@Url.Content("~/Content/assets/img/slider/slider1.jpg")">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="slider_text">
                            <span>Cây Kim Nhỏ</span>
                            <h1>Sản phẩm mới</h1>
                            <p>Sản phẩm thiết kế đa phong cách.<br>Xu hướng phù hợp với mọi lứa tuổi!</p>
                            <a class="btn btn-primary" href="shop.html">Xem Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="@Url.Content("~/Content/assets/img/slider/slider2.jpg")">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="slider_text">
                            <span>Cây Kim Nhỏ</span>
                            <h1>Ưu đãi Hot</h1>
                            <p>
                                Sống Lạc Trôi với Ưu Đãi vượt trội.<br />
                                Tặng hàng trăm voucher cùng các<br />chương trình giảm giá cực sốc!<br>
                            </p>
                            <a class="btn btn-primary" href="shop.html">Xem Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="@Url.Content("~/Content/assets/img/slider/slider3.jpg")">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="slider_text">
                            <span>Cây Kim Nhỏ</span>
                            <h1>Không lo ship</h1>
                            <p>
                                Mua hàng thả ga bỏ xa phí ship.<br>Với đơn hàng từ 3 sản phẩm miễn phí <br />giao
                                hàng ngay hôm nay!
                            </p>
                            <a class="btn btn-primary" href="shop.html">Mua Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--slider area end-->
<!--shipping section start-->
<section class="shipping_section mb-102">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shipping_inner d-flex justify-content-between">
                    <div class="single_shipping d-flex align-items-center">
                        <div class="shipping_icon">
                            <i class="icon-cursor icons"></i>
                        </div>
                        <div class="shipping_text">
                            <h3>Miễn Phí Ship</h3>
                            <p>Đ/H từ 3 sản phẩm.</p>
                        </div>
                    </div>
                    <div class="single_shipping d-flex align-items-center">
                        <div class="shipping_icon">
                            <i class="icon-reload icons"></i>
                        </div>
                        <div class="shipping_text">
                            <h3>Miễn Phí Đổi Trả</h3>
                            <p>Trong vòng 3 ngày.</p>
                        </div>
                    </div>
                    <div class="single_shipping d-flex align-items-center">
                        <div class="shipping_icon">
                            <i class="icon-question icons"></i>
                        </div>
                        <div class="shipping_text">
                            <h3>Chăm Sóc KH</h3>
                            <p>Hỗ trợ tư vấn 24/24.</p>
                        </div>
                    </div>
                    <div class="single_shipping d-flex align-items-center">
                        <div class="shipping_icon">
                            <i class="icon-tag icons"></i>
                        </div>
                        <div class="shipping_text">
                            <h3>Khuyến Mãi</h3>
                            <p>Giảm giá & Voucher.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--shipping section end-->
<!-- product section start -->
<section class="product_section">
    <div class="container">
        <div class="product_header d-flex justify-content-between mb-50">
            <div class="section_title">
                <h2>SẢN PHẨM MỚI</h2>
            </div>
            <div class="product_tab_btn d-flex">
                <div class="all_product">
                    <a  href="@Url.Action("product", "home")">Xem tất cả</a>
                </div>
            </div>
        </div>
        <div class="product_container row">
            <div class="tab-content">
                <div class="product_slick slick_slider_activation" data-slick='{
                            "slidesToShow": 4,
                            "slidesToScroll": 1,
                            "rows": 2,
                            "arrows": true,
                            "dots": false,
                            "autoplay": true,
                            "speed": 300,
                            "infinite": true,
                            "responsive":[
                              {"breakpoint":992, "settings": { "slidesToShow": 3 } },
                              {"breakpoint":768, "settings": { "slidesToShow": 2 } },
                              {"breakpoint":300, "settings": { "slidesToShow": 1 } }
                             ]
                        }'>
                    @foreach (var item in Model.OrderByDescending(o => o.ID).Take(8).ToList())
                    {
                        <article class="col single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a>
                                        <img class="primary_img" src="@item.Images.Split('#')[0].ToString()"
                                             alt="consectetur">
                                    </a>
                                    @{
                                        var sale = item.DetailProducts.OrderByDescending(o => o.Sale).First().Sale;
                                        if (sale != 0)
                                        {
                                            <div class="product_label">
                                                <span>-@((sale * 100).ToString("0,0"))%</span>
                                            </div>
                                        }
                                    }
                                </div>
                                <figcaption class="product_content text-center">
                                    <div class="product_ratting">
                                        <ul class="d-flex justify-content-center">
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><span>(4)</span></li>
                                        </ul>
                                    </div>
                                    <h4 class="product_name">
                                        <a  href="@Url.Action("productdetail", "home", new {id = item.ID})">@item.Name</a>
                                    </h4>
                                    <div class="price_box">
                                        @{
                                            var prices = item.DetailProducts.First().Price;
                                            if (sale != 0)
                                            {
                                                <span class="current_price">@((prices - (prices * sale)).ToString("0,0"))đ </span>
                                                <span class="old_price"> @prices.ToString("0,0")đ</span>
                                            }
                                            else
                                            {
                                                <span class="current_price">@prices.ToString("0,0")đ</span>
                                            }
                                        }
                                    </div>
                                    <div class="add_to_cart">
                                        <a  class="btn btn-primary" href="@Url.Action("productdetail", "home", new { id = item.ID })">Xem chi tiết</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product section end -->
<!-- banner section start -->
<section class="banner_section banner_style2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <figure class="single_banner position-relative">
                    <img src="~/Content/assets/img/bg/bg3.jpg" alt="">
                    <div class="banner_text position-absolute">
                        <h3>SẢN PHẨM MỚI <br>ĐA PHONG CÁCH</h3>
                        <p>Các loại quần, áo,<br>đầm babydoll, chân váy, ... </p>
                        <a class="btn btn-primary" href="shop.html">Xem Ngay</a>
                    </div>
                    <div class="banner_tag">
                        <span>Sản phẩm mới <br> thiết kế thời thượng</span>
                    </div>
                </figure>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <figure class="single_banner position-relative">
                    <img src="~/Content/assets/img/bg/bg4.jpg" alt="">
                    <div class="banner_text position-absolute text__style2">
                        <h3>Giảm giá đến<br><span>50%</span> các dòng<br>sản phẩm Hot!</h3>
                        <p>Các loại quần, áo,<br>đầm babydoll, chân váy, ...</p>
                        <a class="btn btn-primary" href="shop.html">Xem Ngay</a>
                    </div>
                    <div class="banner_tag">
                        <span>SẢN PHẨM BÁN CHẠY.<br>GIẢM GIÁ CỰC SỐC</span>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- banner section end -->
<!-- product section start -->
<section class="product_section">
    <div class="container">
        <div class="product_header d-flex justify-content-between  mb-60">
            <div class="section_title">
                <h2>Sản phẩm bán chạy</h2>
            </div>
            <div class="product_tab_btn d-flex">
                <div class="all_product">
                    <a href="shop.html">Xem tất cả</a>
                </div>
            </div>
        </div>
        <div class="product_container row">
            <div class="tab-content">
                <div class="product_slick slick_slider_activation" data-slick='{
                            "slidesToShow": 4,
                            "slidesToScroll": 1,
                            "rows": 2,
                            "arrows": true,
                            "dots": false,
                            "autoplay": true,
                            "speed": 300,
                            "infinite": true,
                            "responsive":[
                              {"breakpoint":992, "settings": { "slidesToShow": 3 } },
                              {"breakpoint":768, "settings": { "slidesToShow": 2 } },
                              {"breakpoint":300, "settings": { "slidesToShow": 1 } }
                             ]
                        }'>
                    @foreach (var item in Model.OrderByDescending(o => o.ID).Take(8).ToList())
                    {
                        <article class="col single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a>
                                        <img class="primary_img" src="@item.Images.Split('#')[0].ToString()"
                                             alt="consectetur">
                                    </a>
                                    @*<div class="product_action">
                                        <ul>
                                            <li class="quick_view">
                                                <a data-tippy="Xem nhanh sản phẩm" id="quickViewProduct-@item.ID" name="@item.ID" >
                                                    <i class="icon-size-fullscreen icons"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>*@
                                    @{
                                        var sale = item.DetailProducts.OrderByDescending(o => o.Sale).First().Sale;
                                        if (sale != 0)
                                        {
                                            <div class="product_label">
                                                <span>-@((sale * 100).ToString("0,0"))%</span>
                                            </div>
                                        }
                                    }
                                </div>
                                <figcaption class="product_content text-center">
                                    <div class="product_ratting">
                                        <ul class="d-flex justify-content-center">
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><span>(4)</span></li>
                                        </ul>
                                    </div>
                                    <h4 class="product_name">
                                        <a  href="@Url.Action("productdetail", "home", new {id = item.ID})">@item.Name</a>
                                    </h4>
                                    <div class="price_box">
                                        @{
                                            var prices = item.DetailProducts.First().Price;
                                            if (sale != 0)
                                            {
                                                <span class="current_price">@((prices - (prices * sale)).ToString("0,0"))đ </span>
                                                <span class="old_price"> @prices.ToString("0,0")đ</span>
                                            }
                                            else
                                            {
                                                <span class="current_price">@prices.ToString("0,0")đ</span>
                                            }
                                        }
                                    </div>
                                    <div class="add_to_cart">
                                        <a  class="btn btn-primary" href="@Url.Action("productdetail", "home", new { id = item.ID })">Xem chi tiết</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product section end -->
<!-- product section start -->
<section class="product_section">
    <div class="container">
        <div class="product_header d-flex justify-content-between  mb-60">
            <div class="section_title">
                <h2>Đang giảm giá</h2>
            </div>
            <div class="product_tab_btn d-flex">
                <div class="all_product">
                    <a href="shop.html">Xem tất cả</a>
                </div>
            </div>
        </div>
        <div class="product_container row">
            <div class="tab-content">
                <div class="product_slick slick_slider_activation" data-slick='{
                            "slidesToShow": 4,
                            "slidesToScroll": 1,
                            "rows": 2,
                            "arrows": true,
                            "dots": false,
                            "autoplay": true,
                            "speed": 300,
                            "infinite": true,
                            "responsive":[
                              {"breakpoint":992, "settings": { "slidesToShow": 3 } },
                              {"breakpoint":768, "settings": { "slidesToShow": 2 } },
                              {"breakpoint":300, "settings": { "slidesToShow": 1 } }
                             ]
                        }'>
                    @foreach (var item in Model.OrderByDescending(o => o.ID).Take(8).ToList())
                    {
                        <article class="col single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a>
                                        <img class="primary_img" src="@item.Images.Split('#')[0].ToString()"
                                             alt="consectetur">
                                    </a>
                                    @*<div class="product_action">
                                        <ul>
                                            <li class="quick_view">
                                                <a data-tippy="Xem nhanh sản phẩm" id="quickViewProduct-@item.ID" name="@item.ID" >
                                                    <i class="icon-size-fullscreen icons"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>*@
                                    @{
                                        var sale = item.DetailProducts.OrderByDescending(o => o.Sale).First().Sale;
                                        if (sale != 0)
                                        {
                                            <div class="product_label">
                                                <span>-@((sale * 100).ToString("0,0"))%</span>
                                            </div>
                                        }
                                    }
                                </div>
                                <figcaption class="product_content text-center">
                                    <div class="product_ratting">
                                        <ul class="d-flex justify-content-center">
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><span>(4)</span></li>
                                        </ul>
                                    </div>
                                    <h4 class="product_name">
                                        <a  href="@Url.Action("productdetail", "home", new {id = item.ID})">@item.Name</a>
                                    </h4>
                                    <div class="price_box">
                                        @{
                                            var prices = item.DetailProducts.First().Price;
                                            if (sale != 0)
                                            {
                                                <span class="current_price">@((prices - (prices * sale)).ToString("0,0"))đ </span>
                                                <span class="old_price"> @prices.ToString("0,0")đ</span>
                                            }
                                            else
                                            {
                                                <span class="current_price">@prices.ToString("0,0")đ</span>
                                            }
                                        }
                                    </div>
                                    <div class="add_to_cart">
                                        <a  class="btn btn-primary" href="@Url.Action("productdetail", "home", new { id = item.ID })">Xem chi tiết</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product section end -->
<!-- banner section start -->
<section class="banner_section mb-5">
    <div class="container">
        <div class="section_title mb-60">
            <h2>SET SẢN PHẨM PHỐI SẴN</h2>
        </div>
        <div class="banner_container d-flex">
            <figure class="single_banner position-relative mr-30">
                <img src="~/Content/assets/img/bg/bg1.jpg" alt="">
                <figcaption class="banner_text2 position-absolute">
                    <h3>SET Mẫu phối đồ</h3>
                    <p>
                        Những SET mẫu đa dạng, <br> phong cách, xinh xắn <br /> được phối từ các sản phẩm <br />của
                        Cây Kim Nhỏ.
                    </p>
                    <a class="btn btn-primary" href="shop.html">Xem Thêm</a>
                </figcaption>
            </figure>
            <figure class="single_banner position-relative">
                <img src="~/Content/assets/img/bg/bg2.jpg" alt="">
                <figcaption class="banner_text2 position-absolute">
                    <h3>SET Mẫu phối đồ</h3>
                    <p>Mẫu phối sẵn các sản phẩm của Cây Kim Nhỏ cho bạn thõa sức tham khảo!</p>
                </figcaption>
            </figure>
        </div>
    </div>
</section>

<!-- modal area start-->

<div class="modal fade" id="modal_product-detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="ion-android-close"></i></span>
            </button>
            <div id="product-body" class="modal_body">
            </div>
        </div>
    </div>
</div>
