@model caykimnho_studio.Models.Products
@using caykimnho_studio.Models

@{
    var relateProduct = Session["relate-product"] as IEnumerable<Products>;
    var categories = Session["lst-category"] as IEnumerable<Categories>;
    ViewBag.Title = "productdetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var images = Model.Images.Split('#').ToList();
    int i = 0;
}

<section class="product_details mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product_zoom_gallery">
                    <div class="zoom_gallery_inner d-flex">
                        <div class="zoom_tab_img">
                            @if (!string.IsNullOrEmpty(Model.Videos))
                            {
                                <a id="targetImages-videoPro" class="zoom_tabimg_list" href="javascript:void(0)"><img src="~/Content/assets/img/product/videoPlay2.gif" alt="tab-thumb"></a>
                            }
                            @foreach (var image in images)
                            {
                                <a id="targetImages-@image" class="zoom_tabimg_list" href="javascript:void(0)"><img src="@Url.Content(image)" alt="tab-thumb"></a>
                            }
                        </div>
                        <div class="product_zoom_main_img">
                            @if (!string.IsNullOrEmpty(Model.Videos))
                            {
                                <div class="product_zoom_thumb">
                                    <video id="videoProductShow" width="100%" height="100%" controls autoplay>
                                        <source src="@Url.Content(Model.Videos)">
                                    </video>
                                </div>
                            }
                            @foreach (var image in images)
                            {
                                i++;
                                <div class="product_zoom_thumb" id="imgHeight-@i">
                                    <img data-image="image" style="border-radius: 0px" src="@Url.Content(image)" alt="">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product_d_right">
                    <h1>@Model.Name</h1>
                    <div class="price_box">
                        @{
                            var sale = Model.DetailProducts.OrderByDescending(o => o.Sale).First().Sale;
                            var prices = Model.DetailProducts.First().Price;
                            if (sale != 0)
                            {
                                <span>Giá: </span>
                                <span class="current_price text-danger">@((prices - (prices * sale)).ToString("0,0"))đ </span>
                                <span class="old_price"> @prices.ToString("0,0")đ</span>
                            }
                            else
                            {
                                <span style="font-size: 18px; font-weight: 500">Giá: </span>
                                <span class="current_price text-danger">@prices.ToString("0,0")đ</span>
                            }
                        }

                    </div>
                    <div class="product_availalbe">
                        <ul class="d-flex">
                            <li><i class="icon-layers icons"></i> Kho: <span>@Model.DetailProducts.Sum(s => s.Quantity)</span></li>
                            <li>Hàng: <span class="stock">May 2 - 15 ngày</span></li>
                        </ul>
                    </div>
                    <div class="product_variant">
                        <div class="filter__list widget_color d-flex align-items-center">
                            <h3>Màu :</h3>
                            <ul>
                                @foreach (var items in Model.DetailProducts.ToList())
                                {
                                    <li>
                                        <label data-images="@Url.Content(items.Images)" class="checkmark color3" name="@items.Colors.ID" id="checkmaulabel-@items.Colors.ID">@items.Colors.Name</label>
                                        <input hidden id="valuecolor" value="" />
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="filter__list widget_color d-flex align-items-center">
                            <h3>Size :</h3>
                            <ul>
                                @foreach (var items in Model.DetailProducts.GroupBy(g => g.ID_Size, g => g.Size.Name, (key, g) => new { ID_Size = key, Size_Name = g.First() }).ToList())
                                {
                                    <li>
                                        <label class="checkmark color3" name="@items.ID_Size" id="checksizelabel-@items.ID_Size">@items.Size_Name</label>
                                        <input hidden id="valuesize" value="" />
                                    </li>
                                }
                            </ul>
                        </div>

                        <div class="variant_quantity_btn d-flex">
                            <div class="pro-qty border">
                                <input id="soluongsanpham" min="1" max="100" type="text" value="1">
                            </div>
                            <button id="addgiohang" name="@Model.ID" class="button btn btn-primary"><i class="ion-android-add"></i> Thêm Vào Giỏ hàng</button>
                            <a data-tippy="Thêm vào yêu thích" class="wishlist"><i class="ion-ios-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--product details end-->
<div class="product_d_info">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_d_inner">
                    <div class="product_info_button border-bottom">
                        <ul class="nav" role="tablist" style="justify-content: center">
                            <li>
                                <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Chi tiết sản phẩm</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Đánh giá sản phẩm</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="info" role="tabpanel">
                            <div class="product_info_content">
                                <p>@Model.Description</p>
                                <ul>
                                    <li>Màu: @Model.DetailProducts.ToList().GroupBy(g => g.Colors.ID).Count()</li>
                                    <li>Số lượng: @Model.DetailProducts.Sum(s => s.Quantity)</li>
                                    <li>Size: @Model.DetailProducts.ToList().GroupBy(g => g.Size.ID).Count()</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <div class="reviews_wrapper">
                                <h2>1 review for Donec eu furniture</h2>
                                <div class="reviews_comment_box">
                                    <div class="comment_thmb">
                                        <img src="assets/img/blog/comment2.jpg" alt="">
                                    </div>
                                    <div class="comment_text">
                                        <div class="reviews_meta">
                                            <div class="star_rating">
                                                <ul class="d-flex">
                                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <p style="font-size:12px"><strong>tuandv3010 </strong></p>
                                            <p style="font-size:12px; margin-top: -22px">12 tháng 9, 2023</p>
                                            <span>Áo xinh quá đẹp, giao hàng nhanh đặc biệt là quá thơmmmmm</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="comment_title">
                                    <h2>Thêm đánh giá </h2>
                                    <p>Email của bạn sẽ được bảo mật 100%, nhập đầy đủ các trường thông tin</p>
                                </div>
                                <div class="product_ratting mb-10">
                                    <h3>Đánh giá sao</h3>
                                    <ul class="d-flex">
                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product_review_form">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="review_comment">Viết đánh giá chi tiết </label>
                                                <textarea name="comment" id="review_comment" placeholder="Nhập đánh giá của bạn tối đa 200 từ"></textarea>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label for="author">Name</label>
                                                <input id="author" type="text">

                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label for="email">Email </label>
                                                <input id="email" type="text">
                                            </div>
                                        </div>
                                        <button type="submit">GỬI ĐÁNH GIÁ</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="border-bottom mb-4"></div>
<!--product info end-->
<!--product area start-->
<section class="product_area related_products mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title mb-50">
                    <h2>Sản Phẩm Tương Tự</h2>
                </div>
            </div>
        </div>
        <div class="product_container row">
            <div class="product_slick slick_slider_activation" data-slick='{
                    "slidesToShow": 4,
                    "slidesToScroll": 1,
                    "arrows": true,
                    "dots": false,
                    "autoplay": true,
                    "speed": 300,
                    "infinite": true,
                    "responsive":[
                      {"breakpoint":992, "settings": { "slidesToShow": 3 } },
                      {"breakpoint":768, "settings": { "slidesToShow": 2 } },
                      {"breakpoint":300, "settings": { "slidesToShow": 1 } }
                     ]
                }'>
                @foreach (var item in relateProduct.ToList())
                {
                    <div class="col-lg-3">
                        <article class="col single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a>
                                        <img class="primary_img" src="@item.Images.Split('#')[0].ToString()"
                                             alt="consectetur">
                                    </a>
                                    @{
                                        var sales = item.DetailProducts.OrderByDescending(o => o.Sale).First().Sale;
                                        if (sales != 0)
                                        {
                                            <div class="product_label">
                                                <span>-@((sales * 100).ToString("0,0"))%</span>
                                            </div>
                                        }
                                    }
                                </div>
                                <figcaption class="product_content text-center">
                                    <div class="product_ratting">
                                        <ul class="d-flex justify-content-center">
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><span>(4)</span></li>
                                        </ul>
                                    </div>
                                    <h4 class="product_name">
                                        <a href="@Url.Action("productdetail", "home", new {id = item.ID})">@item.Name</a>
                                    </h4>
                                    <div class="price_box">
                                        @{
                                            var pricess = item.DetailProducts.First().Price;
                                            if (sales != 0)
                                            {
                                                <span class="current_price">@((pricess - (pricess * sales)).ToString("0,0"))đ </span>
                                                <span class="old_price"> @pricess.ToString("0,0")đ</span>
                                            }
                                            else
                                            {
                                                <span class="current_price">@pricess.ToString("0,0")đ</span>
                                            }
                                        }
                                    </div>
                                    <div class="add_to_cart">
                                        <a class="btn btn-primary" href="@Url.Action("productdetail", "home", new { id = item.ID })">Xem Chi Tiết</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        var heights = $('body').find('[id^="imgHeight-1"]').height();
        $('body').find('[id="videoProductShow"]').height(heights);
        $('body').find('.product_zoom_main_img').children().height(heights);
    });
</script>
<!--product area end-->
<script src="~/Validation/addCart.js"></script>